	<% if notice %>
	<p><%= notice %></p>
	<% end %>
	<aside>
		<%= link_to new_event_path do %><span>New Event</span><% end %>
		<%= link_to edit_event_path(@event), class: :edit do %><span>Edit Event</span><% end %>
	</aside>
	<section>
		<h1><%= @event.title %></h1>
		<div class="content show">
			<div>
				<figure>
					<%= image_tag @event.image_url.to_s %>
					<figcaption>
						<span><%= @event.address %></span>
					</figcaption>
				</figure>
				<strong>Name:</strong>
				<%= @event.title %>

				<strong>Location:</strong>
				<%= @event.address %>

				<strong>Seats:</strong>
				<%= @event.seats %>

				<strong>Duration:</strong>
				<%= @event.duration %>

				<strong>Price:</strong>
				<%= @event.price %>
			</div>
			<div class="actions">
				<%= link_to "Back", events_path %>
			</div>
		</div>
	</section>